<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.com.mobiplus.webviewactivity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/mpw_app_name">
        <activity android:name=".MPWebViewActivity"/>
    </application>

</manifest>